@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body;
    }

    h1,
    h2,
    h3 {
        @apply font-title;
    }

    h1 {
        @apply text-4xl font-semibold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    button {
        font: inherit;
        background: #ff2058;
        padding: 0.5rem 2rem;
        color: white;
        border: 1px solid #ff2058;
        margin: 0.5rem 0;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover,
    button:active {
        background: white;
        color: #ff2058;
    }

    button:focus {
        outline: none;
    }

    button.button-outline {
        background: white;
        color: #ff2058;
    }

    button.button-outline:hover,
    button.button-outline:active {
        background: #ff2058;
        color: white;
        box-shadow: none;
    }
}
