@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: linear-gradient(#222c31, #111d32);
        color: #d9e2f1;
        min-height: 100vh;
    }

    .animate-slide-down-fi {
        animation: slide-down-fade-in 0.3s forwards ease-out;
    }

    .loader-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        margin: 1rem 0;
    }
    .loader-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #e30d5b;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #e30d5b transparent transparent transparent;
    }
    .loader-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .loader-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .loader-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-down-fade-in {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
